.kitten {
  background-size: 100% 100%;
  margin-top: 50%;
  margin-left: 50%;
  border: 1cm;
  background-image: url("kitten.png");
  border-radius: 50%;
  pointer-events: none;
}

.cat {
  margin-top: 50%;
  margin-left: 50%;
  border: 1cm;
  background-color: chartreuse;
  border-radius: 50%;
  pointer-events: none;
}
